<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhph.common.kafka.dao.TransMsgLogMapper">
	<resultMap id="BaseResultMap" type="com.zhph.common.kafka.model.TransMsgLog">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="MSG_PUBLISHER" property="msgPublisher"
			jdbcType="VARCHAR" />
		<result column="PUBLISH_TIME" property="publishTime" jdbcType="TIMESTAMP" />
		<result column="MSG_NAME" property="msgName" jdbcType="VARCHAR" />
		<result column="MSG_BODY5" property="msgBody5" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="CHAR" />
		<result column="RETRY_COUNT" property="retryCount" jdbcType="INTEGER" />
		<result column="RETRY_LIMIT" property="retryLimit" jdbcType="INTEGER" />
		<result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="MSG_TYPE" property="msgType" jdbcType="CHAR" />
		<result column="CONSUMER_TIME" property="consumerTime"
			jdbcType="TIMESTAMP" />
		<result column="MSG_BODY1" property="msgBody1" jdbcType="VARCHAR" />
		<result column="MSG_BODY2" property="msgBody2" jdbcType="VARCHAR" />
		<result column="MSG_BODY3" property="msgBody3" jdbcType="VARCHAR" />
		<result column="MSG_BODY4" property="msgBody4" jdbcType="VARCHAR" />
		<result column="CREATED_ID" property="createdId" jdbcType="VARCHAR" />
		<result column="PARTITION" property="partition" jdbcType="INTEGER" />
		<result column="PARTITION_NO" property="partitionNo" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID
		,MSG_PUBLISHER
		,PUBLISH_TIME
		,MSG_NAME
		,MSG_BODY5
		,STATUS
		,RETRY_COUNT
		,RETRY_LIMIT
		,ERROR_MSG
		,UPDATE_TIME
		,MSG_TYPE
		,CONSUMER_TIME
		,MSG_BODY1
		,MSG_BODY2
		,MSG_BODY3
		,MSG_BODY4
		,CREATED_ID
		,PARTITION
		,PARTITION_NO
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from c_transmsg_log
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectMsgOfNeedSend" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from c_transmsg_log l
		where trim(l.status)=1
		and l.retry_count &lt; l.retry_limit 
		<if test="msgType!=null">
			and trim(l.msg_type)=#{msgType,jdbcType=VARCHAR} 
		</if>
		order by l.publish_time asc
	</select>
	<!-- and trim(t.retry_count) &lt; trim(t.retry_limit) -->
	<select id="selectAllUnRetryTopics" resultType="java.lang.String">
		select t.msg_name from c_transmsg_log t where t.status = 1  group by t.msg_name
	</select>

	<select id="listByCondition" resultMap="BaseResultMap"
		parameterType="com.zhph.common.kafka.model.TransMsgLog">
		select
		<include refid="Base_Column_List" />
		from c_transmsg_log
		where 1=1
		<if test="id != null and '' != id">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="msgPublisher != null and '' != msgPublisher">
			and MSG_PUBLISHER = #{msgPublisher,jdbcType=VARCHAR}
		</if>
		<if test="publishTime != null">
			and PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgName != null and '' != msgName">
			and MSG_NAME = #{msgName,jdbcType=VARCHAR}
		</if>
		<if test="msgBody5 != null and '' != msgBody5">
			and MSG_BODY5 = #{msgBody5,jdbcType=VARCHAR}
		</if>
		<if test="status != null and '' != status">
			and STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="retryCount != null and '' != retryCount">
			and RETRY_COUNT = #{retryCount,jdbcType=INTEGER}
		</if>
		<if test="retryLimit != null and '' != retryLimit">
			and RETRY_LIMIT = #{retryLimit,jdbcType=INTEGER}
		</if>
		<if test="errorMsg != null and '' != errorMsg">
			and ERROR_MSG = #{errorMsg,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgType != null and '' != msgType">
			and MSG_TYPE = #{msgType,jdbcType=CHAR}
		</if>
		<if test="consumerTime != null">
			and CONSUMER_TIME = #{consumerTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgBody1 != null and '' != msgBody1">
			and MSG_BODY1 = #{msgBody1,jdbcType=VARCHAR}
		</if>
		<if test="msgBody2 != null and '' != msgBody2">
			and MSG_BODY2 = #{msgBody2,jdbcType=VARCHAR}
		</if>
		<if test="msgBody3 != null and '' != msgBody3">
			and MSG_BODY3 = #{msgBody3,jdbcType=VARCHAR}
		</if>
		<if test="msgBody4 != null and '' != msgBody4">
			and MSG_BODY4 = #{msgBody4,jdbcType=VARCHAR}
		</if>
		<if test="createdId != null and '' != createdId">
			and CREATED_ID = #{createdId,jdbcType=VARCHAR}
		</if>
		<if test="partition != null">
			and PARTITION = #{partition,jdbcType=INTEGER}
		</if>
		<if test="partitionNo != null and '' != partitionNo">
			and PARTITION_NO = #{partitionNo,jdbcType=VARCHAR}
		</if>
		<!-- <if test="orderFields != null and '' != orderFields"> order by ${orderFields} 
			${order} </if> -->
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		c_transmsg_log
		where ID in (#{id,jdbcType=VARCHAR})
	</delete>

	<insert id="insert" parameterType="com.zhph.common.kafka.model.TransMsgLog">
		insert into c_transmsg_log (
		<include refid="Base_Column_List" />
		)values (
		#{id,jdbcType=VARCHAR}
		,#{msgPublisher,jdbcType=VARCHAR}
		,#{publishTime,jdbcType=TIMESTAMP}
		,#{msgName,jdbcType=VARCHAR}
		,#{msgBody5,jdbcType=VARCHAR}
		,#{status,jdbcType=CHAR}
		,#{retryCount,jdbcType=INTEGER}
		,#{retryLimit,jdbcType=INTEGER}
		,#{errorMsg,jdbcType=VARCHAR}
		,#{updateTime,jdbcType=TIMESTAMP}
		,#{msgType,jdbcType=CHAR}
		,#{consumerTime,jdbcType=TIMESTAMP}
		,#{msgBody1,jdbcType=VARCHAR}
		,#{msgBody2,jdbcType=VARCHAR}
		,#{msgBody3,jdbcType=VARCHAR}
		,#{msgBody4,jdbcType=VARCHAR}
		,#{createdId,jdbcType=VARCHAR}
		,#{partition,jdbcType=INTEGER}
		,#{partitionNo,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="insertSelective" parameterType="com.zhph.common.kafka.model.TransMsgLog">
		insert into c_transmsg_log (
		<if test="id != null and '' != id">
			ID
		</if>
		<if test="msgPublisher != null and '' != msgPublisher">
			,MSG_PUBLISHER
		</if>
		<if test="publishTime != null">
			,PUBLISH_TIME
		</if>
		<if test="msgName != null and '' != msgName">
			,MSG_NAME
		</if>
		<if test="msgBody5 != null and '' != msgBody5">
			,MSG_BODY5
		</if>
		<if test="status != null and '' != status">
			,STATUS
		</if>
		<if test="retryCount != null">
			,RETRY_COUNT
		</if>
		<if test="retryLimit != null">
			,RETRY_LIMIT
		</if>
		<if test="errorMsg != null and '' != errorMsg">
			,ERROR_MSG
		</if>
		<if test="updateTime != null">
			,UPDATE_TIME
		</if>
		<if test="msgType != null and '' != msgType">
			,MSG_TYPE
		</if>
		<if test="consumerTime != null">
			,CONSUMER_TIME
		</if>
		<if test="msgBody1 != null and '' != msgBody1">
			,MSG_BODY1
		</if>
		<if test="msgBody2 != null and '' != msgBody2">
			,MSG_BODY2
		</if>
		<if test="msgBody3 != null and '' != msgBody3">
			,MSG_BODY3
		</if>
		<if test="msgBody4 != null and '' != msgBody4">
			,MSG_BODY4
		</if>
		<if test="createdId != null and '' != createdId">
			,CREATED_ID
		</if>
		<if test="partition != null">
			,PARTITION
		</if>
		<if test="partitionNo != null and '' != partitionNo">
			,PARTITION_NO
		</if>
		)values (
		<if test="id != null and '' != id">
			#{id,jdbcType=VARCHAR}
		</if>
		<if test="msgPublisher != null and '' != msgPublisher">
			,#{msgPublisher,jdbcType=VARCHAR}
		</if>
		<if test="publishTime != null">
			,#{publishTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgName != null and '' != msgName">
			,#{msgName,jdbcType=VARCHAR}
		</if>
		<if test="msgBody5 != null and '' != msgBody5">
			,#{msgBody5,jdbcType=VARCHAR}
		</if>
		<if test="status != null and '' != status">
			,#{status,jdbcType=CHAR}
		</if>
		<if test="retryCount != null">
			,#{retryCount,jdbcType=INTEGER}
		</if>
		<if test="retryLimit != null">
			,#{retryLimit,jdbcType=INTEGER}
		</if>
		<if test="errorMsg != null and '' != errorMsg">
			,#{errorMsg,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			,#{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgType != null and '' != msgType">
			,#{msgType,jdbcType=CHAR}
		</if>
		<if test="consumerTime != null">
			,#{consumerTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgBody1 != null and '' != msgBody1">
			,#{msgBody1,jdbcType=VARCHAR}
		</if>
		<if test="msgBody2 != null and '' != msgBody2">
			,#{msgBody2,jdbcType=VARCHAR}
		</if>
		<if test="msgBody3 != null and '' != msgBody3">
			,#{msgBody3,jdbcType=VARCHAR}
		</if>
		<if test="msgBody4 != null and '' != msgBody4">
			,#{msgBody4,jdbcType=VARCHAR}
		</if>
		<if test="createdId != null and '' != createdId">
			,#{createdId,jdbcType=VARCHAR}
		</if>
		<if test="partition != null">
			,#{partition,jdbcType=INTEGER}
		</if>
		<if test="partitionNo != null and '' != partitionNo">
			,#{partitionNo,jdbcType=VARCHAR}
		</if>
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.zhph.common.kafka.model.TransMsgLog">
		update
		c_transmsg_log set
		ID=
		#{id,jdbcType=VARCHAR}
		,MSG_PUBLISHER =
		#{msgPublisher,jdbcType=VARCHAR}
		,PUBLISH_TIME =
		#{publishTime,jdbcType=TIMESTAMP}
		,MSG_NAME =
		#{msgName,jdbcType=VARCHAR}
		,MSG_BODY5 = #{msgBody5,jdbcType=VARCHAR}
		,STATUS = #{status,jdbcType=CHAR}
		,RETRY_COUNT =
		#{retryCount,jdbcType=INTEGER}
		,RETRY_LIMIT =
		#{retryLimit,jdbcType=INTEGER}
		,ERROR_MSG =
		#{errorMsg,jdbcType=VARCHAR}
		,UPDATE_TIME =
		#{updateTime,jdbcType=TIMESTAMP}
		,MSG_TYPE = #{msgType,jdbcType=CHAR}
		,CONSUMER_TIME = #{consumerTime,jdbcType=TIMESTAMP}
		,MSG_BODY1 =
		#{msgBody1,jdbcType=VARCHAR}
		,MSG_BODY2 = #{msgBody2,jdbcType=VARCHAR}
		,MSG_BODY3 = #{msgBody3,jdbcType=VARCHAR}
		,MSG_BODY4 =
		#{msgBody4,jdbcType=VARCHAR}
		,CREATED_ID =
		#{createdId,jdbcType=VARCHAR}
		,PARTITION =
		#{partition,jdbcType=INTEGER}
		,PARTITION_NO =
		#{partitionNo,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.zhph.common.kafka.model.TransMsgLog">
		update c_transmsg_log set
		ID = #{id,jdbcType=VARCHAR}
		<if test="id != null and '' != id">
		</if>
		<if test="msgPublisher != null and '' != msgPublisher">
			,MSG_PUBLISHER = #{msgPublisher,jdbcType=VARCHAR}
		</if>
		<if test="publishTime != null">
			,PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgName != null and '' != msgName">
			,MSG_NAME = #{msgName,jdbcType=VARCHAR}
		</if>
		<if test="msgBody5 != null and '' != msgBody5">
			,MSG_BODY5 = #{msgBody5,jdbcType=VARCHAR}
		</if>
		<if test="status != null and '' != status">
			,STATUS = #{status,jdbcType=CHAR}
		</if>
		<if test="retryCount != null and '' != retryCount">
			,RETRY_COUNT = #{retryCount,jdbcType=INTEGER}
		</if>
		<if test="retryLimit != null and '' != retryLimit">
			,RETRY_LIMIT = #{retryLimit,jdbcType=INTEGER}
		</if>
		<if test="errorMsg != null and '' != errorMsg">
			,ERROR_MSG = #{errorMsg,jdbcType=VARCHAR}
		</if>
		<if test="updateTime != null">
			,UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgType != null and '' != msgType">
			,MSG_TYPE = #{msgType,jdbcType=CHAR}
		</if>
		<if test="consumerTime != null">
			,CONSUMER_TIME = #{consumerTime,jdbcType=TIMESTAMP}
		</if>
		<if test="msgBody1 != null and '' != msgBody1">
			,MSG_BODY1 = #{msgBody1,jdbcType=VARCHAR}
		</if>
		<if test="msgBody2 != null and '' != msgBody2">
			,MSG_BODY2 = #{msgBody2,jdbcType=VARCHAR}
		</if>
		<if test="msgBody3 != null and '' != msgBody3">
			,MSG_BODY3 = #{msgBody3,jdbcType=VARCHAR}
		</if>
		<if test="msgBody4 != null and '' != msgBody4">
			,MSG_BODY4 = #{msgBody4,jdbcType=VARCHAR}
		</if>
		<if test="createdId != null and '' != createdId">
			,CREATED_ID = #{createdId,jdbcType=VARCHAR}
		</if>
		<if test="partition != null">
			,PARTITION = #{partition,jdbcType=INTEGER}
		</if>
		<if test="partitionNo != null and '' != partitionNo">
			,PARTITION_NO = #{partitionNo,jdbcType=VARCHAR}
		</if>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	
	<update id="updateStatusOfBatch" parameterType="java.util.List">
		update c_transmsg_log
		<trim prefix="set" suffixOverrides=",">
            <trim prefix="status =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                     when id=#{item.id} then #{item.status}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
	</update>
	
</mapper>
